div {
    color: aliceblue;
    font-weight: 100;
    text-align: center;
    height: 600px;
    width: 800px;
    background-image: url(waterlily.jpg) ;
    background-size: cover;
    border: 2px solid black;
    position:fixed;
    top: 0px; 
    /* left: 1000px;  */
    right: 0px; /*to take the image at the right side of the page*/
}
p {
    text-align: center;
    width: 700px;
}